<% provide :title, set_title("質問編集")  %>

<div id="edit" class="container">
  <!--パンくずリスト-->
  <ol class="breadcrumb">
   <li class="breadcrumb-item"><a href="/">HOME</a></li>
   <li class="breadcrumb-item active">質問編集</li>
  </ol>

  <div class="row">
    <main class="col-md-8">
      <div class="p-4">
        <h2 class="text-center">質問を編集</h2>
        <%= render partial: 'question-form', locals: {question: @question, models: [current_user,@question]} %>
      </div>
    </main>

    <%= render partial: 'aside', locals: {nores_questions: @nores_questions, nores: @nores, latest_questions: @latest_questions} %>

  </div>

</div>