<% provide :title, set_title("回答編集")  %>

<div id="edit-answer" class="container">
  <!--パンくずリスト-->
  <ol class="breadcrumb">
   <li class="breadcrumb-item"><a href="/">HOME</a></li>
   <li class="breadcrumb-item"><%= link_to "質問詳細", question_path(@question)  %></li>
   <li class="breadcrumb-item active">回答編集</li>
  </ol>

  <div class="row">
    <main class="col-md-8">
      <div class="p-4">
        <h2 class="text-center">回答を編集</h2>

        <%= render partial: 'answer_form', locals: {question: @question,answer: @answer} %>

      </div>
    </main>

    <%= render partial: 'aside', locals: {nores_questions: @nores_questions, nores: @nores, latest_questions: @latest_questions} %>

  </div>
</div>


