@charset "UTF-8";
@import "bootstrap";

// header

body header img:hover{
  opacity: 0.5;
}

body header ul li{
  list-style-type: none;
  border-left: 1px solid white;
}

body header ul li:last-child{
  border-right: 1px solid white;
}

body header ul li a{
  color: white;
}

body header ul li a:hover{
  color: white;
  opacity: 0.5;
}

// footer


body footer ul li a:hover{
  opacity: 0.5;
}

// index
#index dt a{
  color: black;
}

#index > div {
  background-color: mistyrose;
}

// show

#show .content{
  font-size: 1.2em;
}

#show .disable{
  display: none;
}