@charset "UTF-8";
@import "bootstrap";

// header

body header{

  img:hover{
    opacity: 0.5;
  }
  ul li{
    list-style-type: none;
    border-left: 1px solid white;

    &:last-child{
     border-right: 1px solid white;
    }

    a{
      color: white;

      &:hover{
        color: white;
        opacity: 0.5;
      }
    }
  }
}

// footer
body footer ul li a:hover{
  opacity: 0.5;
}

// index
#index {

  #search-result{
    display: none;
  }

  dt a{
    color: black;
  }
  section{

    > div{
      background-color: mistyrose;
      border-radius: 10px;
    }
  }
  dd{
    text-align: center;
    margin: 10px 0;
  }
}

.paginate nav{
  width: 80%;
  margin: 0 auto;
  ul {
    justify-content: center;
  }
}

// show

#show .content{
  font-size: 1.2em;
}

#show .disable{
  display: none;
}

