@charset "UTF-8";
@import "bootstrap";

// 共通
html{

  $aside-color: lavenderblush;
  $main-color: mistyrose;

  // header

  body header{

    img:hover{
      opacity: 0.5;
    }

    nav{

      ul li{
      list-style-type: none;
      border-left: 1px solid white;


        &:last-child{
         border-right: 1px solid white;

        }

        button{
          height: 40px;
        }
      }

      ul .sm{
        border-left: 0px none;
        text-align: right;
        border-bottom: 1px solid white;

        &:first-child{
          border-top: 1px solid white;
          border-bottom: 1px solid white;
          margin-top: 5px;
        }

        &:last-child{
          border-left: 0px none;
          border-right: 0px none;

        }

      }

    }

  }

  // footer
  body footer ul li a:hover{
    opacity: 0.5;
  }

  //aside
  body aside{

    > article{
      background-color: $aside-color;
      padding: 10px;
      margin: 10px;
      border-radius: 10px;

      h4{
        text-align: center;
      }

      span{
        font-size: 1.3rem;
        background-color: lightpink;
        border-radius: 5px;
        padding: 3px 5px;
        margin-right: 3px;
        vertical-align: middle;
      }

      a {
        color: black;
      }

      dd{
        margin: 10px 0;
        text-align: center;
      }

    }

  }

  body main{


    > div{
      background-color: $main-color;
      border-radius: 10px;
    }

  }

}

// index
#index {

  #search-result{
    display: none;
  }

  dt a{
    color: black;
  }

  main{

    .qcontent{
      display: none;
    }

  }
  .paginate nav{
    width: 80%;
    margin: 0 auto;
    ul {
      justify-content: center;
    }

  }

}


// // show

#show{
  .content{
    font-size: 1.2em;
  }

  .disable{
    display: none;
  }

}

